<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mercado-Liebre</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
  <!-- <link rel="stylesheet" href="/css/normalize.css"> -->
</head>

<body>
  <header>
    <img class="logo" src="/images/logo-mercado-liebre.svg" alt="Logo">
    <div class="buscar">
      <input type="text" placeholder="Buscar producto">
      <i class="fas fa-search"></i>    
    </div>
    <div class="titulo">
      <i class="fas fa-hand-holding-usd"></i>
      <p>Comprá en cuotas y sin tarjeta de crédito</p>
    </div>
   
    <ul>
      <li>
        <a href="#">Oferta</a>
      </li>
      <li>
        <a href="#">Tienda Oficiales</a>
      </li>
      <li>
        <a href="#">Vender</a>
      </li>
      <li>
        <a href="#">Ayuda</a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="#">Creá tu cuenta</a>
        <i class="far fa-address-card"></i>
      </li>
      <li>
        <a href="#">Ingresá</a>
        <i class="fas fa-sign-in-alt"></i>
      </li>
      <li>
        <a href="#">Mis compras</a>
        <i class="fas fa-shopping-basket"></i>
      </li>
    </ul>
    <div class="burger-menu">
      <i class="fas fa-bars"></i>
    </div>
    <img class="banner" src="/images/img-home-banner.jpg" alt="banner">
  </header>
  <main>
    <!-- Sección: Basado en tu última visita -->
    <section>
      <h2>Sección: Basado en tu última visita</h2>
      <div>
        <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera" style="width: 80%;">
        <p>$6.770 40% OFF Cafetera Moulinex</p>
      </div>
      <div>
        <img src="/images/img-macbook-pro-2019.jpg" alt="Computadora" style="width: 80%;">
        <p>$230.000 20% off MacBook Pro 2019</p>
      </div>
      <div>
        <img src="/images/img-samsung-galaxy-s10.jpg" alt="Celular" style="width: 80%;">
        <p>$70.500 10% off Samsung Galaxy S10</p>
      </div>
      <div>
        <img src="/images/img-tv-samsung-smart.jpg" alt="Tv" style="width: 80%;">
        <p>$23.200 5% off SmartTv Samsung 43"</p>
      </div>
    </section>
    <!-- Sección de Ofertas -->
    <section>
      <h2>Sección de Ofertas</h2>
      <div>
        <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera" style="width: 80%;">
        <p>$6.770 40% OFF Cafetera Moulinex</p>
      </div>
      <div>
        <img src="/images/img-macbook-pro-2019.jpg" alt="Computadora" style="width: 80%;">
        <p>$230.000 20% off MacBook Pro 2019</p>
      </div>
      <div>
        <img src="/images/img-samsung-galaxy-s10.jpg" alt="Celular" style="width: 80%;">
        <p>$70.500 10% off Samsung Galaxy S10</p>
      </div>
      <div>
        <img src="/images/img-tv-samsung-smart.jpg" alt="Tv" style="width: 80%;">
        <p>$23.200 5% off SmartTv Samsung 43"</p>
      </div>
    </section>

    

    
  </main>


<ul>
  <li>
    <a href="https://www.facebook.com/">
      Facebook
    </a>
  </li>
  <li>
    <a href="https://www.instagram.com/">
      Instagram
    </a>
  </li>
  <li>
    <a href="https://www.ole.com.ar/">
      Olé
    </a>
  </li>
</ul>



  <footer>
    <h3>Pagá con tarjeta o en efectivo</h3>
    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
      puntos de pago. ¡Y siempre es seguro!</p>
    <h3>Envío gratis desde $ 2.500</h3>
    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
      productos. Es un beneficio de Mercado Puntos.</p>
    <h3> Seguridad, de principio a fin</h3>
    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
      porque estás siempre protegid@.</p>
    <h3>
      Copyright © 1999-2020 MercadoLiebre S.R.L.
    </h3>
  </footer>
</body>

</html>