*{
  margin: 0px;
  padding: 0px;
}

body{
  font-family: 'Roboto', sans-serif;
  background-color: #ebebeb;
}

h3{
  font-size: 24px;
}

p{
  font-size: 12px;
}
div.top-header{
  padding: 5%;
}

header{
  background-color: #EAC926;
  padding: 15px;
  box-sizing: border-box;
}

header div.logo{
  width: 50%;
}

header div.logo{
  padding: 10px;
}
header nav{
  font-size: 12px;
}

header ul li{
  list-style-type: none;
}

header ul li a{
  text-decoration: none;
  color: #000;
}

header .form .input{
  background-color: #FFF;
  outline: none;
  color: #666;
  padding: 5px;
  width: 100%;
  border-radius: 15px;
  font-size: 12px;
}
header .form .submit{
  background-color: #FFF;
  border: 1px solid #000;
  color: #666;
  width: 10%;
}

header div.top-header p{
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

div.burger-menu{
  text-align: center;
}

div.burger-menu i{
  background-color: #0044AA;
  border-radius: 5px;
  color: #FFF;
  font-size: 20px;
  height: 20px;
  margin: 10px 0px 20px 0px;
  padding: 10px;
  width: 40px;
}

article div.main-article{
  width: 100%;
}

.price{
  font-size: 18px;
}

.discount,
.description{
  font-size: 16px;
  font-weight: normal;
}

h3,
.description{
  color: #666;
}

section.banner img{
  width: 100%;
}

main section article img{
  width: 100%;
}

main section article i,
.discount{
  color: #39b54a;
}

/*Clase 13 */
main{
  width: 90%; 
  margin: auto;
}
main section article{
  background-color: #fff;
  margin: 10px auto;
}
article div.main-article{
  box-sizing: border-box;
  width: 100%;
  border-top: 1px solid #ebebeb;
  padding: 15px;
  /* clase 14 */
  display: flex;
  flex-direction: column;
  align-items: flex-start ;
}
.description{
  display: none;
}
header nav{
  font-size: 12px;
  display: none;
}
/* tablet */
@media (min-width:361px){
  main section article{
  box-shadow: 0px 0px 10px rgba(100, 100, 100, 0.51);
  }
  .description{
    display: block;
  }
  header nav{
    font-size: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: auto;
  }
  header nav ul.left{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 45%;
  }
  header nav ul.right{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    width: 45%;
  }
  header nav ul li {
    margin-right: 15px;
  }
  div.burger-menu i{
    display: none;
  }
}

/* Clase 14 */
.content-price{
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.price{
  width: 30%;
  display: inline;
}
.discount{
  width: 70%;
  display: inline;

}

main section article i{
  display: block;
  font-size: 16px;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid #39b54a;
  background-color: #FFF;
  border-radius: 50%;
  right: 20px;
  align-self: flex-end;
  margin-top: -35px;
  position: relative;
  }


i.fas.fa-truck {
  display: flex;
  justify-content: center;
  align-items: center;
}

  .products{
    display: flex;
    flex-flow:row wrap;
    justify-content: space-between;
    width: 100%;
  }
  article{
    width: 90%;
    box-sizing: border-box;
  }
  .top-header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .top-header .logo{
    width: 45%;
  }
  .top-header .form{
    width: 45%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .top-header .buy{
    width: 100%;
  }
  header .form .submit{
    border: none;
    background-color: transparent;
    position: relative;
    z-index: 22222;
    margin-left: -30px;
    padding: 5px;
  }
@media (min-width:361px){
  .products{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  article{
    width: 45%;
    box-sizing: border-box;
  }


}
@media (min-width:769px){
  .products{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
  article{
    width: 20%;
    box-sizing: border-box;
  }
  .top-header .logo{
    width: 30%;
  }
  .top-header .form{
    width: 30%;
  }
  .top-header .buy{
    width: 30%;
  }
}